/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: var(--bg-image);
  background-position-x: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*header*/
.cover {
  position: relative;
  padding-bottom: 36.5%;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  top: 3px;
  right: 20px;
  border-block-start: 1px solid var(--border-color);
  border-inline-end: 1px solid var(--border-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  bottom: 20px;
  left: 20px;
  border-block-end: 1px solid var(--border-color);
  border-inline-start: 1px solid var(--border-color);
}

.rec_position {
  content: "";
  position: absolute;
  display: grid;
  grid-template-columns: 43px 9px;
  grid-template-rows: 25px;
  top: 3.5px;
  right: 29px;
}

.rec {
  grid-column: 1/2;
  inline-size: 60px;
  block-size: 25px;
  opacity: 0;
  color: var(--rec-color);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
}

.rec_point {
  margin-top: 7px;
  grid-column: 2/3;
  width: 9px;
  height: 9px;
  opacity: 0;
  border-radius: 1em;
  background-color: var(--rec-color);
  box-shadow: 0px 0px 4px 2px var(--rec-color);
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  margin-top: 17px;
  gap: 1%;
}

.header__theme-menu-button {
  width: 70px;
  height: 26px;
  color: var(--topic-text-colar);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 19px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--border-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--line-color-hover);
}

.header__theme-menu-button:focus {
  border-block-end: 1px solid var(--line-color-focus);
  outline: none;
}

.text_position {
  display: grid;
  grid-template-rows: 68% auto auto;
  grid-template-columns: auto;
}

.big__word {
  grid-row: 2/3;
  grid-column: 1;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  width: 100%;
  color: var(--text-color-header_footer);
  text-shadow: 4px 4px var(--shadow-color-header_footer);
}

.cover__text__box {
  grid-row: 3/4;
  grid-column: 1;
  position: relative;
  width: 491px;
  background: var(--title-color);
  margin: 7.5% 2% 0% 0%;
  justify-self: end;
}

.cover__text {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--header-text-colar);
}

/*section global*/
.links {
  text-decoration: none;
  text-shadow: 3px 2px var(--title-color);
  padding-right: 5px;
}

.links:hover {
  border-block-end: 1px solid var(--text-color);
}

.links:focus {
  outline: 1px solid var(--text-color);
}

.text__bold {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--topic-text-colar);
}

.text__bold-paragraph {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: var(--paragraph-text-colar);
}

.text__regular {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: var(--text-color);
}

/*section 1*/
.first__text {
  display: grid;
  grid-template-columns: 34% 2fr;
  padding: 5.85% 2% 9.7% 2%;
  row-gap: 4.1%;
}

.first__text__toc {
  grid-row: 1/3;
  grid-column: 1;
}

.background_line_long {
  width: 100%;
  background: var(--title-color);
  margin-bottom: 1.55%;
}

/*section 2*/
.second__text {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0% 1.9% 7.75% 2%;
  column-gap: 20px;
  row-gap: 21px;
}

.second__text__toc {
  grid-row: 1;
  grid-column: 1/4;
}

.background_line_short {
  width: 100%;
  background: var(--title-color);
  margin-bottom: 2.9%;
}

/*section 3*/
.third__text {
  display: grid;
  grid-template-columns: 34.1% 2fr;
  padding: 0% 1.9% 7.75% 2%;
  row-gap: 20px;
}

.background_line_paragraph {
  width: 100%;
  background: var(--title-color);
}

.third__text__toc {
  grid-row: 1/7;
  grid-column: 1;
}

/*section 4*/
.pictures__toc {
  display: flex;
  padding: 0% 1.9% 0% 2%;
}

.pictures {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 24.6% 30% 41.1%;
  gap: 20px;
  padding: 2% 1.92% 5.3% 1.92%;
}

.background_line_photo {
  width: 100%;
  background: var(--title-color);
  margin-bottom: 9px;
}

.card {
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  object-position: center;
  min-width: 100%;
  min-height: 100%;
}

.card__img {
  flex-grow: 1;
  width: 100%;
  pointer-events: none;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  object-position: center;
}

.card_sunset {
  display: flex;
  grid-row: 1;
  grid-column: 1/3;
}

.card_ice-cream {
  display: flex;
  grid-row: 1/3;
  grid-column: 3;
}

.card_books {
  display: flex;
  grid-row: 2;
  grid-column: 2;
}

.card_tape {
  display: flex;
  grid-row: 2/4;
  grid-column: 1;
}

.card_street {
  display: flex;
  grid-row: 3;
  grid-column: 2/4;
  padding-top: 5px;
}

/*footer*/
.footer_background {
  padding-bottom: 55.3%;
  position: relative;
}

.footer-decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  top: 20px;
  right: 20px;
  border-block-start: 1px solid var(--border-color);
  border-inline-end: 1px solid var(--border-color);
}

.footer-decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  bottom: 20px;
  left: 20px;
  border-block-end: 1px solid var(--border-color);
  border-inline-start: 1px solid var(--border-color);
}

.top_text_position {
  display: grid;
  grid-template-rows: 138% auto;
  grid-template-columns: auto;
}

.top_text {
  display: flex;
  justify-content: center;
}

@media (668px < width < 770px) {
  /*header*/
  .cover {
    padding-bottom: 57.3%;
  }

  .text_position {
    grid-template-rows: 51% auto 43.5% auto;
  }

  .decorated-zone::after {
    bottom: 10px;
  }

  .header__theme-menu-list {
    padding: 22.6% 20px 0% 0%;
    gap: 11px;
    flex-direction: column;
    align-items: flex-end;
  }

  .cover__text__box {
    grid-row: 4/5;
    width: 364px;
    margin: 10px 20px 0px 0px;
  }

  /*section 1*/
  .first__text {
    grid-template-columns: 32% 2fr;
    column-gap: 3.2%;
    padding: 9.1% 20px 13.5% 2.6%;
    row-gap: 3.3%;
  }

  .background_line_long {
    margin-bottom: 2%;
  }

  /*section 2*/
  .second__text {
    grid-template-rows: 1fr;
    padding: 0 20px 8.05% 2.6%;
    grid-row: 1/4;
    row-gap: 0.5px;
  }

  .second__text__toc {
    grid-column: 1/2;
    padding-bottom: 8%;
  }

  .grid__second {
    padding: 0% 0% 2.7% 0%;
    grid-column: 1/4;
  }

  .background_line_short {
    margin-bottom: 1.3%;
  }

  /*section 3*/
  .third__text {
    grid-template-columns: 35.3% 2fr;
    row-gap: 20.5px;
    padding: 0% 20px 10.3% 2.5%;
  }

  /*section 4*/
  .pictures__toc {
    padding: 0% 20px 2.6% 2.6%;
  }

  .pictures {
    grid-template-rows: 24.6% 29.5% 40.8%;
    padding: 0% 20px 7.85% 2.6%;
  }

  .card_street {
    padding-top: 0px;
  }

  /*footer*/
  .footer_background {
    padding-bottom: 113%;
  }

  .footer-decorated-zone::before {
    right: 20px;
  }

  .top_text_position {
    grid-template-rows: 278% auto auto;
  }
}

@media (374px < width < 668px) {
  /*header*/
  .cover {
    padding-bottom: 34.5%;
  }

  .decorated-zone::before {
    top: 10px;
    right: 10px;
  }

  .decorated-zone::after {
    left: 10px;
    bottom: 10px;
  }

  .rec_position {
    top: 10.5px;
    right: 19px;
  }

  .header__theme-menu-list {
    padding: 73px 10px 0px 0px;
    gap: 11px;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 0px;
  }

  .text_position {
    grid-template-rows: 17.5% auto auto;
    margin-left: 10px;
  }

  .big__word {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 97.5px;
  }

  .cover__text__box {
    padding: 1px 0px 0px 0px;
    margin: 53px 11px 0px 0px;
    width: 354px;
  }

  /*section 1*/
  .first__text {
    grid-template-columns: 1fr;
    column-gap: 3.2%;
    padding: 10.7% 2.6% 13.2% 2.5%;
    row-gap: 20px;
  }

  .background_line_long {
    margin-bottom: 2.9%;
  }

  /*section 2*/
  .second__text {
    grid-template-rows: 1fr;
    padding: 0 2.6% 10.7% 2.5%;
    row-gap: 10px;
  }

  .second__text__toc {
    padding-bottom: 2.7%;
  }

  .grid__second {
    padding: 0% 0% 2.7% 0%;
    grid-column: 1/4;
  }

  .background_line_short {
    margin-bottom: 3%;
  }

  /*section 3*/
  .third__text {
    grid-template-columns: 1fr;
    padding: 0% 2.6% 13.3% 2.5%;
    gap: 19px;
  }

  .third__text__toc {
    grid-row: 1/3;
  }

  .background_line_phone {
    width: 100%;
    background: var(--title-color);
    margin-bottom: 0.7%;
  }

  /*section 4*/
  .pictures__toc {
    padding: 0% 2.6% 2.6% 2.6%;
  }

  .pictures {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    padding: 0.3% 2.6% 10.7% 2.6%;
  }

  .card_sunset {
    grid-row: 1/2;
    grid-column: 1;
    height: 142px;
  }

  .card_ice-cream {
    grid-row: 2/3;
    grid-column: 1;
    height: 355px;
  }

  .card_books {
    grid-row: 4/5;
    grid-column: 1;
    height: 355px;
  }

  .card_tape {
    grid-row: 3/4;
    grid-column: 1;
    height: 237px;
  }

  .card_street {
    grid-row: 5/6;
    grid-column: 1;
    height: 237px;
    padding-top: 0px;
  }

  /*footer*/
  .footer_background {
    padding-bottom: 152%;
  }

  .footer-decorated-zone::before {
    top: 10px;
    right: 10px;
  }

  .footer-decorated-zone::after {
    left: 10px;
    bottom: 10px;
  }

  .top_text_position {
    grid-template-rows: 293% auto auto;
  }
}
